body {
  background-color: black;
  color: beige;
  box-sizing: border-box;
  background-color: black;
  background-image:
    radial-gradient(white 1px, transparent 1px), radial-gradient(white 1px, transparent 1px),
    radial-gradient(white 1px, transparent 1px);
  background-size:
    100px 100px,
    150px 150px,
    200px 200px;
  background-position:
    0 0,
    50px 50px,
    25px 75px;
  animation: starsMove 60s linear infinite;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.results {
  padding-top: 30px;
}
.content,
.title {
  font-size: 20px;
  margin-bottom: 20px;
  padding: 8px 12px;
}
.content_name {
  margin-right: 20px;
}
.title.grid {
  border: 2px solid;
  border-bottom: none;
  border-radius: 0;
  margin-bottom: 0;
  padding-bottom: 14px;
}

.grid {
  display: grid;
  grid-template-columns: 220px 1fr;
  justify-items: flex-start;
  border: 1px dotted whitesmoke;
  border-radius: 8px;
  padding: 8px 12px;
  gap: 1rem;
}
.header {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 1.3) 5%,
    rgba(0, 0, 0, 1.8) 40%,
    rgba(0, 0, 0, 2) 100%
  );
  background-color: black;
}
.input {
  width: 300px;
  margin-left: 150px;
  padding: 4px 8px;
  border-radius: 4px;
}
.button {
  margin-left: 10px;
}

.catch_box {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
}
.reload {
  margin-top: 25px;
}

.loader {
  padding-top: 40px;
}
.loader_img {
  display: block;
  margin: 0 auto;
}

.logo {
  width: 100px;
  height: 40px;
  padding: 0px;
}

.about_button {
  margin-left: 20px;
  background-color: rgb(199, 86, 86);
  color: wheat;
}
.about {
  text-align: center;
}
.about_link {
  text-decoration: none;
  color: wheat;
  transition: all 0.3s;
  display: block;
  margin-bottom: 50px;
}
.about_link:hover {
  color: rgb(190, 106, 106);
  transition: all 0.3s;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
.pagination_item {
  border: 1px dotted whitesmoke;
  padding: 5px 10px;
  cursor: pointer;
  background-color: transparent;
  color: whitesmoke;
}
.pagination_item + .pagination_item {
  margin-left: 8px;
}

@keyframes starsMove {
  from {
    background-position:
      0 0,
      50px 50px,
      25px 75px;
  }
  to {
    background-position:
      1000px 1000px,
      1050px 1050px,
      1025px 1075px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
